$primary-color: rgba(141, 129, 172, 1);
$primary-size: 14px;

$breakpoints: (
    phone_start: 320px,
    phone_end: 480px,
    tab_start: 481px,
    tab_end: 992px,
    desc_start: 993px,
    desc_end: 1200px,
    )