@import "variables";
@import "mixins";

.disactive {
    display: none;
}

.active2 {
    position: relative;
    transform: rotate(45deg);
    top: 2px;
}

.active3 {
    position: relative;
    transform: rotate(-45deg);
    bottom: 6px;
}

.hide-line {
    display: none;
}

.wrapper {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    position: relative;
    color: $primary-color;
    font-size: $primary-size;
    min-width: 320px;
    background-image: url(../img/hero_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 718px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px 20px;
    margin-bottom: 50px;
    background-color: rgba(39, 38, 42, 1);

    &__logo-wrap {
        text-decoration: none;
    }

    &__logo-wrap:hover &__logo {
        background-image: url(../img/logo_pen_hover.svg);
    }

    &__logo-wrap:hover &__title__text {
        color: #fff;
    }

    &__logo {
        background-image: url(../img/logo_pen.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 44px;
        height: 42px;
    }

    &__link {
        text-decoration: none;

        &__text {
            color: #fff;
            padding: 10px 16px;
            font-weight: 700;
            font-size: 15px;
            line-height: 1;
            border-radius: 22px;
            background-color: $primary-color;
        }

        &__text:hover {
            color: $primary-color;
            background-color: #fff;
        }
    }

    &__btn {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 26px;
        height: 18px;

        &__line {
            width: 26px;
            height: 2px;
            margin-bottom: 6px;
            background-color: #fff;
        }

        &__line:first-of-type {
            width: $primary-size;
        }

        &__line:last-of-type {
            margin-bottom: 0;
        }
    }

    &__nav {
        position: absolute;
        top: 106px;
        left: 50%;
        transform: translateX(-50%);
        width: 292px;
        background-color: rgba(51, 51, 51, 1);

        &__list {
            display: flex;
            flex-direction: column;
            list-style: none;
        }

        &__item {
            padding-bottom: 30px;
            padding-top: 30px;
            cursor: pointer;
            border-bottom: 1px solid rgba(59, 59, 59, 1);
        }

        &__item:first-of-type {
            border-top: 1px solid rgba(59, 59, 59, 1);
        }

        &__item:hover,
        &__item:focus {
            background-color: rgba(39, 38, 42, 1);
        }


        &__link {
            padding-top: $primary-size;
            padding-bottom: $primary-size;
            padding-left: 36px;
            text-decoration: none;
            color: #fff;
            font-weight: 400;
            font-size: 26px;
            line-height: 1;
        }

        &__item:hover &__link,
        &__item:focus &__link {
            color: $primary-color;
            border-left: 8px solid $primary-color;
            padding-left: 28px;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__title {
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 48px;
        line-height: 1;
        color: #fff;
    }

    &__desc {
        margin-bottom: $primary-size;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.4;
        color: $primary-color;
        width: 298px;
    }

    &__version {
        font-weight: 400;
        font-size: $primary-size;
        line-height: 1;
        text-transform: uppercase;
        color: rgba(132, 142, 151, 1);
    }
}

.install {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 98.5%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;


    &__link {
        margin-bottom: 26px; // должно быть 12
        text-decoration: none;

        &__text {
            padding: $primary-size 30px;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.2;
            border-radius: 22px;
            color: #fff;
            background-color: $primary-color;
        }

        &__text:hover,
        &__text:focus {
            background-color: #fff;
            color: $primary-color;
            border: 2px solid $primary-color;
        }
    }

    &__desc {
        font-weight: 400;
        font-size: $primary-size;
        line-height: 1;
        color: rgba(132, 142, 151, 1);
    }
}

.people {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 56px;
    min-width: 320px;
    background-image: url(../img/people_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &__padding {
        padding-left: 24px;
        padding-right: 24px;
        max-width: 1200px;
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        margin-bottom: 52px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.3;
        color: #fff;
        text-align: center;
    }

    &__feedback-wrap {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 44px;
        margin-bottom: 36px;
    }

    &__feedback {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__logo-wrap {
            display: flex;
            align-items: center;
            height: 86px;
        }

        &__logo-wrap1 {
            width: 164px;
        }

        &__logo-wrap2 {
            width: 148px;
        }

        &__logo-wrap3 {
            width: 64px;
        }

        &__logo-wrap4 {
            width: 224px;
        }

        &__logo-wrap5 {
            width: 166px;
        }

        &__logo-wrap6 {
            width: 108px;
        }

        &__logo {
            display: block;
            width: 100%;
        }

        &__desc {
            max-width: 345px;
            font-style: italic;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            color: #fff;
        }

    }

    &__text {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 22px;
        max-width: 888px;
        font-weight: 400;
        font-size: $primary-size;
        line-height: 1.5;
        color: rgba(162, 145, 165, 1);
        text-align: center;
    }

    &__line {
        max-width: 780px;
        height: 2px;
        margin-bottom: 30px;
        margin-left: 28px;
        margin-right: 28px;
        background-color: rgba(100, 87, 102, 1);
    }
}



@include for-tablet-only {
    .wrapper {
        height: 798px;
    }

    .header {
        padding-bottom: 56px;
        margin-bottom: 60px;

        &__logo-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__title {
            display: block;
            padding-left: 16px;

            &__text {
                font-weight: 700;
                font-size: 24px;
                line-height: 0.68;
                text-transform: uppercase;
                color: $primary-color;
            }

            &__text:hover,
            &__text:focus {
                color: #fff;
            }
        }

        &__link {

            &__text {
                padding: 12px 30px;
                font-size: 16px;
            }
        }

        &__btn {
            display: none;
        }

        &__nav {
            display: block;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
            top: 92px;
            left: 0;
            right: 0;
            max-width: 518px;
            width: auto;
            transform: inherit;
            background-color: transparent;

            &__list {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                list-style: none;
            }

            &__item {
                padding-bottom: inherit;
                padding-top: inherit;
                cursor: auto;
                border-bottom: transparent;
            }

            &__item:first-of-type {
                border-top: transparent;
            }

            &__item:hover,
            &__item:focus {
                background-color: transparent;
            }

            &__item:hover &__link,
            &__item:focus &__link {
                color: #fff;
                border-left: transparent;
                padding-left: inherit;
            }

            &__link {
                padding-top: inherit;
                padding-bottom: inherit;
                padding-left: inherit;
                color: $primary-color;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.2;
                white-space: nowrap;
            }
        }
    }

    .hero {

        &__title {
            margin-bottom: 20px;
            font-size: 72px;
            line-height: 1;
        }

        &__desc {
            margin-bottom: 18px;
            font-size: 24px;
            line-height: 1;
            width: auto;
        }

        &__version {
            font-size: $primary-size;
            line-height: 1;
        }
    }

    .install {

        &__link {
            margin-bottom: 32px; // должно быть 18

            &__text {
                padding: 22px 60px;
                font-size: 21px;
                line-height: 1.2;
                border-radius: 40px;
            }
        }

        &__desc {
            font-size: $primary-size;
            line-height: 1.2;
        }
    }

    .people {
        padding-top: 86px;

        &__padding {
            padding-left: inherit;
            padding-right: inherit;
        }

        &__title {
            margin-bottom: 88px;
            font-size: 42px;
            line-height: 1.05;
            margin-right: 8px;
            margin-left: 8px;
        }

        &__feedback-wrap {
            grid-template-columns: 1fr 1fr;
            row-gap: 58px;
            column-gap: 80px;
            margin-bottom: 68px;
            margin-left: 12px;
            margin-right: 12px;
        }

        &__text {
            margin-left: 32px;
            margin-right: 32px;
        }

        &__line {
            margin-left: 106px;
            margin-right: 106px;
        }
    }
}

@include for-desktop-only {
    .wrapper {
        height: 104vh;
    }

    .header {
        padding-bottom: inherit;
        position: relative;
        margin: 0 auto;
        margin-bottom: 100px;
        max-width: 1200px;
        background-color: inherit;


        &__nav {
            top: 42px;
            right: 200px;
            left: inherit;
            width: 516px;

            &__list {
                justify-content: space-between;
            }

        }
    }

    .hero {

        &__title {
            font-size: 82px;
            line-height: 1;
        }

        &__desc {
            font-size: 30px;
            line-height: 1;
        }

        &__version {
            font-size: 16px;
            line-height: 1;
        }
    }

    .people {
        padding-top: 108px;

        &__title {
            font-size: 48px;
            line-height: 1.04;
        }

        &__feedback-wrap {
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 112px;
            column-gap: 88px;
            margin-bottom: 118px;
        }

        &__text {
            margin-left: auto;
            margin-right: auto;
        }

        &__line {
            margin-left: auto;
            margin-right: auto;
        }
    }
}